<div class="content-wrapper p-4 container">
  <div class="row">
    <mat-toolbar class="transparent col">
      <mat-icon>category</mat-icon>
      <span>Data Sources</span>

      <span class="toolbar-spacer"></span>

      <button class="pull-right" mat-button="" color="accent" [routerLink]="['../add']" type="button">
        <mat-icon>control_point</mat-icon>
      </button>
    </mat-toolbar>
  </div>

  <div *ngIf="state === ComponentState.Ready" class="row justify-content-md-center filter-container form-group pt-2">

    <mat-form-field class="width-auto">
      <input matInput #filter placeholder="Filter Data Sources"
             type="text"
             (keyup)="applyFilter($event.target.value)"/>
    </mat-form-field>
  </div>

  <ro-loading *ngIf="state === ComponentState.Loading"></ro-loading>

  <ro-nada msg="No Data Sources Found"
            [display]="state === ComponentState.Ready && dataSource.data.length == 0"></ro-nada>

  <div [hidden]="state !== ComponentState.Ready || dataSource.data.length === 0" class="mat-elevation-z5">
    <mat-table #table [dataSource]="dataSource" matSort>
      <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef mat-sort-header> #</mat-header-cell>
        <mat-cell *matCellDef="let item"><a [routerLink]="['../update/', item.id]">{{item.id}}</a></mat-cell>
      </ng-container>

      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Name</mat-header-cell>
        <mat-cell *matCellDef="let item">
          <div class="container">
            <div class="row">
              <div class="col">
                <a class="list-title" [routerLink]="['../update/', item.id]">{{item.name}}</a>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <span class="text-muted">{{item.connectionString | truncate:35}}</span>
              </div>
            </div>
          </div>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="driver">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Driver</mat-header-cell>
        <mat-cell *matCellDef="let item">{{item.driverClass}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef mat-sort-header></mat-header-cell>
        <mat-cell *matCellDef="let item">

          <button mat-icon-button type="button" (click)="cloneItem(item.id)">
            <mat-icon>file_copy</mat-icon>
          </button>

          <button color="warn" mat-mini-fab *ngIf="item.id == itemToDelete" type="button" (click)="deleteItem()">
            <mat-icon>delete</mat-icon>
          </button>
          <button color="accent" mat-icon-button *ngIf="item.id != itemToDelete" type="button"
                  (click)="applyItemToDelete(item.id)">
            <mat-icon>delete</mat-icon>
          </button>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="columnsToDisplay"></mat-header-row>
      <mat-row *matRowDef="let myRowData; columns: columnsToDisplay"></mat-row>

    </mat-table>
    <mat-paginator #paginator
                   [pageSize]="10"
                   [pageSizeOptions]="[5, 10, 20]"
                   [showFirstLastButtons]="true">
    </mat-paginator>
  </div>

</div>
